<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mentormanagement</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Danidu#678@mysql</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.menter.application.mpms.entity.User"/>
        <mapping class="org.menter.application.mpms.entity.Role"/>
        <mapping class="org.menter.application.mpms.entity.MentorGroup"/>
    </session-factory>
</hibernate-configuration>